<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="logFilePath">logs</Property>
    </Properties>
    <Appenders>
	    <Console name="Console" target="SYSTEM_OUT">
	        <PatternLayout pattern="{%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%16t] %-42c{1.} : %marker%m%n"/>
	    </Console>
	    <RollingFile name="RollingFile" fileName="${logFilePath}/app.log"
	                     filePattern="${logFilePath}/$${date:yyyy-MM}/log-%d{yyyy-MM-dd}-%i.log">
	        <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
	        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %c{1.}: %marker%m%n"/>
	        <Policies>
	            <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
	            <SizeBasedTriggeringPolicy size="100 MB"/>
	        </Policies>
	        <DefaultRolloverStrategy max="20"/>
	    </RollingFile>
	    <Async name="Async">
	      <AppenderRef ref="Console"/>
	      <AppenderRef ref="RollingFile"/>
	    </Async>
    </Appenders>
    
    <Loggers>

        <Root level="INFO">
            <appender-ref ref="Async"/>
       	</Root>
       	<!-- 单独配置某个模块的日志级别 -->
       	<Logger name="com.opfly.demo" level="Debug"></Logger>
    </Loggers>
</Configuration>